<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit student</title>
  </head>
  <body>


    <h2>Edit student</h2>
    <a href="/student"> Show all student data</a>
    <br>
    <form class="" action="/studen/edit/<%= data[0].id%>" method="post">
      <p>firs name</p>
      <br>
      <input type="text" name="first_Name" value="<%= data[0].first_Name%>">
      <p>last name</p>
      <br>
      <input type="text" name="last_Name" value="<%= data[0].last_Name%>">
      <p>email</p>
      <br>
      <input type="text" name="email" value="<%= data[0].email%>">
      <input type="submit" value="Edit data">
    </form>
    </form>





  </body>
</html>
