<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>teacher</title>
  </head>
  <body>
    <h2>teacher </h2> <br>

    <a href="/"> back to home </a>
    <h2>Teacher</h2>
    <table>
      <thead>
        <th>id</th>
        <th>firs name</th>
        <th>last name</th>
        <th>Email</th>
      </thead>
      <% var id = 1
      data.forEach(req =>{%>
        <tbody>
          <td><%= id%></td>
          <td><%= req.first_Name%></td>
          <td><%= req.last_Name%></td>
          <td><%= req.email %></td>
          <td>

            <a href="#">Delete</a>
            <a href="#">Edit</a>
          </td>
          <% id++}) %>
        </tbody>

    </table>
  </body>
</html>
