<!DOCTYPE html>
<html>
<head>
  <title>App school</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style media="screen">
  table {
    width: 100%;

  }
  th,
  td {
    border: none;
    text-align: left;
    padding: 8px;
  }

    .btn {
      background-color: #9d9d9d;
      text-align: center;
    }
    div {
      width: 350px;
      margin: 0 auto;
    }



    .addteacher{
      width: 150px;
      margin: 0 auto;
    }
    .btn, h2{
      
      text-align: center;
    }


  </style>
</head>

<span>
  <button type="button"  class="btn btn-default btn-lg"><a href="/teacher">teacher</a></button>
  <button type="button" class="btn btn-default btn-lg"> <a href="/student">student</a></button>
  <button type="button" class="btn btn-default btn-lg"><a href="/Subject">Subject</a></button>
</span>
